/* Center */
.center {
    display: center;
    margin-left: auto;
    margin-right: auto;
  }

/* Nav Bar */ 
.nav {
    font-family: 'Zen Loop', cursive;
    margin: 0;
	padding: 0;
    font-size: 20px;
}

.nav-bg {
    max-width: 100%;
    background-position: center;
    position: relative;
}

/* Homepage */
/* Icons */ 
li a, a:focus, a:active {
    text-decoration: none;
}

li a:hover {
    text-decoration: none; 
}

.icons {
    display: inline;
    line-height: 25px;
    text-align: center;
    position: relative;
    text-decoration: none;
}

.github {
    color: #40798C;
    list-style: none;
    padding: 5px 10px;
    display: inline;
    text-decoration: none;
}

.linkedin {
    color: #70A9A1;
    list-style: none;
    padding: 5px 10px;
    display: inline;
    text-decoration: none;
}

.email {
    color: #9EC1A3;
    list-style: none;
    padding: 5px 10px;
    display: inline;
    text-decoration: none;
}

/* Hero Image & Text */ 
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/Untitled\ design.png");
    height: 450px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.hero-image-secondary {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/Untitled\ design.png");
    height: 200px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Zen Loop', cursive;
    font-size: 2.5vw;
}

.hero-text-secondary {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Zen Loop', cursive;
}

.hero-text h1 {
    font-family: 'Falling Slowly Free Demo', sans-serif;
    color: #70A9A1;
}

/* Home Page Content  */ 
.profile-photo {
    content: url('./images/proPic.png');
    max-width: 100%;
    height: auto;
    padding: 15px;
    margin-left: 10%;
    margin-right: 10px;
    position: relative;
    float: left;
    display: flex;
}

.about-me-text {
    font-family: 'MixLean', sans-serif;
    font-size: 2.5vw;
    margin-right: 10%;
    margin-left: 0px;
    margin-top: 20px;
    color: #1F363D;
    float: right;
    font-style:normal;
}

/* Divider - Next Section */
.divider {
    border-top: 2px solid slategray;
}

.second-header {
    font-family: 'Zen Loop', cursive;
    font-size: 2.5vw;
    margin-top: 15px;
    margin-right: 10%;
    margin-left: 5%;
    color: #40798C;
    position: right;
    font-style:normal;
}

.about-teaching {
    font-family: 'MixLean', sans-serif;
    font-size: 2.5vw;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #1F363D;
    font-style:normal;
}

/* Footer */
.footer {
    background:lightgray;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h3 {
    font-family: 'MixLean', sans-serif;
    color: #1F363D;
}

.footer h4 {
    font-family: 'Falling Slowly Free Demo', sans-serif;
    color: #40798C;
}

/* Portfolio Page */
.gallery-button-1 {
    background-color: #CFE0C3;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1F363D;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
}

.gallery-button-2 {
    background-color: #9EC1A3;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1F363D;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
}

.gallery-button-3 {
    background-color: #70A9A1;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1F363D;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
}

.gallery-button-4 {
    background-color: #1F363D;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #9EC1A3;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
}

button:hover {
    opacity: 0.8;
}

.card-body {
    font-family: 'MixLean', sans-serif;
    align-items: center;
    margin: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.card-body-text {
    margin-top: 15px;
    
}

.card {
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
}

/* Resume Div */
.resume-div {
    margin-top: 5%;
    align-content: center;
    font-family: 'MixLean', sans-serif;
    margin-right: 5%;
    margin-left: 10%;
    color: #1F363D;
    font-style:normal;
}

.resume-header {
    font-family: 'Zen Loop', cursive;
    color: #40798C;
}

.resume-title {
    font-family: 'MixLean', sans-serif;
    font-size: 2.5vw;
}

.resume-text {
    font-family: 'MixLean', sans-serif;
    color: #1F363D;
    font-size: 2vw;
    
}

/* Contact Form */
.form {
    margin: 20px;
    text-align: center;
}
  
.form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #70A9A1;
}

.form-style {
    font-family: 'Pompiere', cursive;
    font-size: 15px;
    margin-top: 5%;
}

.form-button {
    background-color: #CFE0C3;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1F363D;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
    width: 200px;
}