/* Center */
.center {
    display: center;
    margin-left: auto;
    margin-right: auto;
  }

/* Nav Bar */ 
.nav {
    font-family: 'Zen Loop', cursive;
    margin: 0;
	padding: 0;
    font-size: 20px;
}

.nav-bg {
    max-width: 100%;
    background-position: center;
    position: relative;
}

/* Homepage */
/* Icons */ 
li a, a:focus, a:active {
    text-decoration: none;
}

li a:hover {
    text-decoration: none; 
}

.icons {
    display: inline;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}

.github {
    color: #40798C;
    list-style: none;
    padding: 5px 10px;
    display: inline;
    text-decoration: none;
}

.linkedin {
    color: #70A9A1;
    list-style: none;
    padding: 5px 10px;
    display: inline;
    text-decoration: none;
}

.email {
    color: #9EC1A3;
    list-style: none;
    padding: 5px 10px;
    display: inline;
    text-decoration: none;
}

/* Hero Image & Text */ 
.hero-image {
    background-image: url("./images/Rustic\ Minimal\ Wedding\ Print\ Banner.png");
    height: 450px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-image-secondary {
    background-image: url("./images/Rustic\ Minimal\ Wedding\ Print\ Banner.png");
    height: 200px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Cangste', sans-serif;
    /* font-size: 2.5vw; */
}

.hero-text-secondary {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.hero-text h1 {
    font-family: 'Bayberry', sans-serif;
    color: #6E9075;
    font-size: 9vw;
    padding-top: 20px;
}

.button {
      background-color: #6E9075;
      background-image: none;
      border: 1px solid #000;
      border-radius: 4px;
      box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: 'Cangste', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      margin: 15px 5px 10px 0;
      overflow: visible;
      padding: 12px 40px;
      text-align: center;
      text-transform: none;
      touch-action: manipulation;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }
    
.button:focus {
    text-decoration: none;
}
    
.button:hover {
    text-decoration: none;
}
    
.button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}
    
.button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}
    
@media (min-width: 768px) {
    .button {
    padding: 12px 50px;
    }
}

/* Home Page Content  */ 
.about-me-section {
    background-color: #6E9075;
}

.about-me {
    font-family: 'Cangste', sans-serif;
    padding-top: 35px;
    color: black;
}

.about-me-2 {
    font-family: 'Bayberry', sans-serif;
    color: white;
}

.one-min {
    font-family: 'Cangste', sans-serif;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    color: black;
    margin-bottom: 25px;
}

/* Next Section */
.second-header {
    font-family: 'Bayberry', sans-serif;
    padding-top: 35px;
    color: #6E9075;
    text-align: relative;
}

.profile-photo {
    content: url('./images/bwpropic.png');
    height: auto;
    width: 25%;
    display: block;
}

.about-teaching {
    font-family: 'Cangste', sans-serif;
    font-size: 20px;
    color: black;
    display: block;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15px;
}

/* Container for skill bars */
.skills-div {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-right: 5%;
}

.skills-container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #6E9075;} /* Green */
.css {width: 90%; background-color: #6E9075;} /* Blue */
.js {width: 80%; background-color: #6E9075} /* Red */
.node {width: 75%; background-color: #6E9075;} /* Dark Grey */
.sql {width: 65%; background-color: #6E9075;}


.padding-attempt {
    padding-left: 5%;
    padding-right: 5%;
}

/* Footer */
.footer {
    /* background-image: url("./images/Rustic\ Minimal\ Wedding\ Print\ Banner.png"); */
    background: white;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
}

.footer-name {
    font-family: 'Bayberry', sans-serif;
}

.footer h4 {
    font-family: 'Falling Slowly Free Demo', sans-serif;
    color: black;
}

/* Portfolio Page */
.portfolio {
    align-content: center;
}

.gallery-button-1 {
    background-color: #CFE0C3;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1F363D;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
}

.gallery-button-2 {
    background-color: #9EC1A3;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1F363D;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
}

.gallery-button-3 {
    background-color: #70A9A1;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1F363D;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
}

.gallery-button-4 {
    background-color: #1F363D;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #9EC1A3;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
}

button:hover {
    opacity: 0.8;
}

.card-body {
    font-family: 'Cangste', sans-serif;
    align-items: center;
    margin: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.card-body-text {
    margin-top: 15px;
    
}

.card {
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
}

/* Resume Div */
.resume-div {
    margin-top: 5%;
    align-content: center;
    font-family: 'MixLean', sans-serif;
    margin-right: 5%;
    margin-left: 10%;
    color: #1F363D;
    font-style:normal;
}

.resume-header {
    font-family: 'Zen Loop', cursive;
    color: #40798C;
}

.resume-title {
    font-family: 'MixLean', sans-serif;
    font-size: 2.5vw;
}

.resume-text {
    font-family: 'MixLean', sans-serif;
    color: #1F363D;
    font-size: 2vw;
    
}

/* Contact Form */
.form {
    margin: 20px;
    text-align: center;
}
  
.form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #70A9A1;
}

.form-style {
    font-family: 'Pompiere', cursive;
    font-size: 15px;
    margin-top: 5%;
}

.form-button {
    background-color: #CFE0C3;
    font-family: 'Zen Loop', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #1F363D;
    text-align: center;
    border-radius: 3px;
    border-color: #1F363D;
    width: 200px;
}